appdirs==1.4.4 ; python_version >= "3.9" and python_full_version <= "3.12.3"
beautifulsoup4==4.12.3 ; python_version >= "3.9" and python_full_version <= "3.12.3"
certifi==2024.7.4 ; python_version >= "3.9" and python_full_version <= "3.12.3"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_full_version <= "3.12.3"
click==8.1.7 ; python_version >= "3.9" and python_full_version <= "3.12.3"
cloudpickle==3.0.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
colorama==0.4.6 ; python_version >= "3.9" and python_full_version <= "3.12.3" and platform_system == "Windows"
docker-pycreds==0.4.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
farama-notifications==0.0.4 ; python_version >= "3.9" and python_full_version <= "3.12.3"
filelock==3.15.4 ; python_version >= "3.9" and python_full_version <= "3.12.3"
fsspec==2024.6.1 ; python_version >= "3.9" and python_full_version <= "3.12.3"
gdown==5.2.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
gitdb==4.0.11 ; python_version >= "3.9" and python_full_version <= "3.12.3"
gitpython==3.1.43 ; python_version >= "3.9" and python_full_version <= "3.12.3"
gymnasium==0.29.1 ; python_version >= "3.9" and python_full_version <= "3.12.3"
idna==3.7 ; python_version >= "3.9" and python_full_version <= "3.12.3"
importlib-metadata==8.2.0 ; python_version >= "3.9" and python_version < "3.10"
jinja2==3.1.4 ; python_version >= "3.9" and python_full_version <= "3.12.3"
markupsafe==2.1.5 ; python_version >= "3.9" and python_full_version <= "3.12.3"
matplotlib==3.10.8 ; python_version >= "3.9" and python_full_version <= "3.12.3"
mpmath==1.3.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
networkx==3.2.1 ; python_version >= "3.9" and python_full_version <= "3.12.3"
numpy==1.26.4 ; python_version >= "3.9" and python_full_version <= "3.12.3"
nvidia-cublas-cu12==12.1.3.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.9" and python_full_version <= "3.12.3"
nvidia-cuda-cupti-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.9" and python_full_version <= "3.12.3"
nvidia-cuda-nvrtc-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.9" and python_full_version <= "3.12.3"
nvidia-cuda-runtime-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.9" and python_full_version <= "3.12.3"
nvidia-cudnn-cu12==9.1.0.70 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.9" and python_full_version <= "3.12.3"
nvidia-cufft-cu12==11.0.2.54 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.9" and python_full_version <= "3.12.3"
nvidia-curand-cu12==10.3.2.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.9" and python_full_version <= "3.12.3"
nvidia-cusolver-cu12==11.4.5.107 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.9" and python_full_version <= "3.12.3"
nvidia-cusparse-cu12==12.1.0.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.9" and python_full_version <= "3.12.3"
nvidia-nccl-cu12==2.20.5 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.9" and python_full_version <= "3.12.3"
nvidia-nvjitlink-cu12==12.6.20 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.9" and python_full_version <= "3.12.3"
nvidia-nvtx-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.9" and python_full_version <= "3.12.3"
pandas==2.2.2 ; python_version >= "3.9" and python_full_version <= "3.12.3"
protobuf==4.25.4 ; python_version >= "3.9" and python_full_version <= "3.12.3"
psutil==6.0.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
pysocks==1.7.1 ; python_version >= "3.9" and python_full_version <= "3.12.3"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
pytz==2024.1 ; python_version >= "3.9" and python_full_version <= "3.12.3"
pyyaml==6.0.2 ; python_version >= "3.9" and python_full_version <= "3.12.3"
requests==2.32.3 ; python_version >= "3.9" and python_full_version <= "3.12.3"
requests[socks]==2.32.3 ; python_version >= "3.9" and python_full_version <= "3.12.3"
sentry-sdk==2.13.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
setproctitle==1.3.3 ; python_version >= "3.9" and python_full_version <= "3.12.3"
setuptools==72.2.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
six==1.16.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
smmap==5.0.1 ; python_version >= "3.9" and python_full_version <= "3.12.3"
soupsieve==2.6 ; python_version >= "3.9" and python_full_version <= "3.12.3"
sympy==1.13.2 ; python_version >= "3.9" and python_full_version <= "3.12.3"
termcolor==2.4.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
torch==2.4.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
tqdm==4.66.5 ; python_version >= "3.9" and python_full_version <= "3.12.3"
triton==3.0.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version <= "3.12.3" and python_version >= "3.9"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_full_version <= "3.12.3"
tzdata==2024.1 ; python_version >= "3.9" and python_full_version <= "3.12.3"
urllib3==2.2.2 ; python_version >= "3.9" and python_full_version <= "3.12.3"
wandb==0.26.0 ; python_version >= "3.9" and python_full_version <= "3.12.3"
zipp==3.23.1 ; python_version >= "3.9" and python_version <= "3.12.3"

git+https://github.com/fivegreenapples/myosuite.git@modification-sideways-drift
